---
title: Blog
layout: page
permalink: /blog/
---
<ul class="alt">
	{% for post in site.posts %}
	<li><h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3></li>
	{% endfor %}
</ul>