

<!-- Three -->
<section id="three" class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>Nunc Dignissim</h2>
			<p>Aliquam erat volutpat nam dui </p>
		</header>
		<div class="flex flex-2">
			{% for post in site.posts limit:2 %}
			<article>
				<div class="image fit">
					<img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}" />
				</div>
				<header>
					<h3>{{ post.title }}</h3>
				</header>
				<p>
				{{ post.excerpt }}
				</p>
				<footer>
					<a href="{{ site.baseurl }}{{ post.url }}" class="button special">More</a>
				</footer>
			</article>
			{% endfor %}
		</div>
	</div>
</section>