<!-- Two -->
<section id="two" class="wrapper style1 special">
	<div class="inner">
		<header>
			<h2>Ipsum Feugiat</h2>
			<p>Semper suscipit posuere apede</p>
		</header>
		<div class="flex flex-4">
			{% for member in site.team %}
				{% if member.front_display %}
				<div class="box person">
					<div class="image round">
						<img src="{{ site.baseurl }}/{{ member.image }}" alt="{{ member.name }}" />
					</div>
					<h3>{{ member.name }}</h3>
					<p>{{ member.title }}</p>
				</div>
				{% endif %}
			{% endfor %}			
		</div>
	</div>
</section>