---
---
<!doctype html>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Jekyll Template by Sai Ashirwad Informatia
-->
<html>
	<head>
	{% include head.html %}
	</head>
	<body {% if page.layout != 'default' %} class="subpage"{% endif %}>
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
	</body>
</html>