---
layout: default
---
<!-- Three -->
<section id="three" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h2>{{ page.title }}</h2>
			{% if page.short_description %}
			<p>{{ page.short_description }}</p>
			{% endif %}
		</header>
		{{ content }}
	</div>
</section>
