---
layout: page
---
{{ content }}
{% assign service_idx=0 %}
{% for service in site.services %}
	{% if page.title != service.title %}
		{% capture modulo %}{{ service_idx | modulo:3 }}{% endcapture %}	
		{% if modulo == '0' or forloop.first %}
		<div class="flex flex-3">
		{% endif %}
		<article>
			<header>
				<h3>{{ service.title }}</h3>
			</header>
			<p>{{ service.short_description }}</p>
			<footer>
				<a href="{{ site.baseurl }}{{ service.url }}" class="button special">More</a>
			</footer>
		</article>		
		{% if modulo == '2' or forloop.last %}
		</div>
		{% endif %}
		{% capture service_idx %}{{ service_idx | plus:1 }}{% endcapture %}
	{% endif %}
{% endfor %}